{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": [],
  "rules": {}
}
